{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Common head content -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <div id="content">
    {% include "main_nav.html" %}
    <!-- Common content -->
    
        {% block content %}
        {% endblock %}
    </div>
    <!-- Common footer content -->
</body>
</html>