<div>
    <h1>BAG</h1>
    <div id="lmContent3">
        <div>
            <h2>unique</h2>
            {% include "lm_accounts/lm_bag/lm_bag_unique.html" %}
        </div>
        <div>
            <h2>resources</h2>
            {% include "lm_accounts/lm_bag/lm_bag_resources.html" %}
        </div>
        <div>
            <h2>speed up</h2>
            {% include "lm_accounts/lm_bag/lm_bag_speed_up.html" %}
        </div>
        <div>
            <h2>combat</h2>
            {% include "lm_accounts/lm_bag/lm_bag_combat.html" %}
        </div>
        <div>
            <h2>chest</h2>
            {% include "lm_accounts/lm_bag/lm_bag_chest.html" %}
        </div>
    </div>
</div>