<table>
    <tr>
        <td>Name</td>
        <td>Count</td>
        <td colspan=2>Action</td>
    </tr>
    {% for bag_unique in lm_user_bag_unique %}
        <tr>
            <td>{{bag_unique.name}}</td>
            <td>{{bag_unique.count}}</td>
            <td><a href="{% url "update-bag-unique" bag_unique.id %}">edit</a></td>
            <td><a href="{% url "delete-bag-unique" bag_unique.id %}">delete</a></td>
        </tr>
    {% endfor %}
    <tr>
        <form action="{% url 'create-bag-unique' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="pk" value="{{lm_account.id}}">
            <td>{{ lm_user_bag_unique_form.name }}</td>
            <td>{{ lm_user_bag_unique_form.count }}</td>
            <td colspan=2><input type="submit" value="Save"></td>
        </form>
    </tr>
</table>