<table>
    <tr>
        <td>Name</td>
        <td>Count</td>
        <td colspan=2>Action</td>
    </tr>
    {% for bag_combat in lm_user_bag_combat %}
        <tr>
            <td>{{bag_combat.name}}</td>
            <td>{{bag_combat.count}}</td>
            <td><a href="{% url "update-bag-combat" bag_combat.id %}">edit</a></td>
            <td><a href="{% url "delete-bag-combat" bag_combat.id %}">delete</a></td>
        </tr>
    {% endfor %}
    <tr>
        <form action="{% url 'create-bag-combat' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="pk" value="{{lm_account.id}}">
            <td>{{ lm_user_bag_combat_form.name }}</td>
            <td>{{ lm_user_bag_combat_form.count }}</td>
            <td colspan=2><input type="submit" value="Save"></td>
        </form>
    </tr>
</table>