body{
    margin:0;
    padding:0;
}
#content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
    align-items: center;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid;
}
.bag-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
}