{% extends 'base.html' %}
{% block content %}
<table>
    <tr>
        <td>IGN</td>
        <td>Email</td>
        <td>Reset Time</td>
        <td>Provider</td>
        <td colspan=2>Action</td>
    </tr>
    {% for account in lm_accounts %}
    <tr>
        <td>{{account.IGN}}</td>
        <td>{{account.email}}</td>
        <td>{{account.reset_time}}</td>
        <td>{{account.provider}}</td>
        <td><a href="{% url "update-lm-account" account.id %}">edit</a></td>
        <td><a href="{% url "delete-lm-account" account.id %}">delete</a></td>
    </tr>
    {% endfor %}
</table>
<div id="addAccountContainer">
    <form action="{% url 'create-lm-account' %}" method="post">
        {% csrf_token %}
        
        {{lm_account_form.as_p}}
        
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
