{% extends 'base.html' %}
{% block content %}
<div>
    {% include "lm_accounts/lm_research/lm_research.html" %}
</div>
<div>
    {% include "lm_accounts/lm_bag/lm_bag.html" %}
</div>
<table>
    <tr>
        <td>IGN</td>
        <td>Email</td>
        <td>Reset Time</td>
        <td>Provider</td>
    </tr>
    <tr>
        <td>{{lm_account.IGN}}</td>
        <td>{{lm_account.email}}</td>
        <td>{{lm_account.reset_time}}</td>
        <td>{{lm_account.provider}}</td>
    </tr>
</table>
{% endblock %}
