<div>
    <h1>RESEARCH</h1>
    <div id="lmContent3">
        <div>
            <h2>Economy</h2>
            {% include "lm_accounts/lm_research/lm_research_economy.html" %}
        </div>
        <div>
            <h2>Defense</h2>
            {% include "lm_accounts/lm_research/lm_research_defense.html" %}
        </div>
        <div>
            <h2>Military</h2>
            {% include "lm_accounts/lm_research/lm_research_military.html" %}
        </div>
        <div>
            <h2>Monster Hunt</h2>
            {% include "lm_accounts/lm_research/lm_research_monster_hunt.html" %}
        </div>
        <div>
            <h2>Upgrade Defenses</h2>
            {% include "lm_accounts/lm_research/lm_research_upgrade_defenses.html" %}
        </div>
        <div>
            <h2>Upgrade Military</h2>
            {% include "lm_accounts/lm_research/lm_research_upgrade_military.html" %}
        </div>
        <div>
            <h2>Army Leadership</h2>
            {% include "lm_accounts/lm_research/lm_research_army_leadership.html" %}
        </div>
        <div>
            <h2>Military Command</h2>
            {% include "lm_accounts/lm_research/lm_research_military_command.html" %}
        </div>
        <div>
            <h2>Familiar</h2>
            {% include "lm_accounts/lm_research/lm_research_familiar.html" %}
        </div>
        <div>
            <h2>Familiar Battles</h2>
            {% include "lm_accounts/lm_research/lm_research_familiar_battles.html" %}
        </div>
        <div>
            <h2>Sigil</h2>
            {% include "lm_accounts/lm_research/lm_research_sigil.html" %}
        </div>
        <div>
            <h2>Wonder Battles</h2>
            {% include "lm_accounts/lm_research/lm_research_wonder_battles.html" %}
        </div>
        <div>
            <h2>Gear</h2>
            {% include "lm_accounts/lm_research/lm_research_gear.html" %}
        </div>
        <div>
            <h2>Advance Wonder Battles</h2>
            {% include "lm_accounts/lm_research/lm_research_advanced_wonder_battles.html" %}
        </div>
    </div>
</div>