<div>
    <h1>RESEARCH</h1>
    <div id="lmContent4">
        <div>
            <h2>Economy</h2>
            {% include "lm_accounts/lm_research/lm_research_economy.html" %}
        </div>
        <div>
            <h2>Defense</h2>
            {% include "lm_accounts/lm_research/lm_research_defense.html" %}
        </div>
        <div>
            <h2>Military</h2>
            {% include "lm_accounts/lm_research/lm_research_military.html" %}
        </div>
        <div>
            <h2>Monster Hunt</h2>
            {% include "lm_accounts/lm_research/lm_research_monster_hunt.html" %}
        </div>
        
    </div>
</div>